<form class="emp-form" #medicationForm="ngForm" (ngSubmit)="onSubmit(medicationForm)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="medicationService.selectedMedication.id">
    <div class="form-group">
      <input class="form-control" name="name" #name="ngModel" [(ngModel)]="medicationService.selectedMedication.name"
      placeholder="Name">
    </div>
    <div class="form-group">
        <input class="form-control" name="sideEffects" #sideEffects="ngModel" [(ngModel)]="medicationService.selectedMedication.sideEffects"
        placeholder="Side Effects">
    </div>
    <div class="form-group">
        <input class="form-control" name="dosage" #dosage="ngModel" [(ngModel)]="medicationService.selectedMedication.dosage"
        placeholder="Dosage">
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
          <button type="submit" class="btn btn-lg btn-block btn-primary"> Add medication</button>
        </div>
        <div class="form-group col-md-4">
            <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(medicationForm)"> Clear</button>
        </div>
      </div>
  </form>