<table class="table table-sm table-hover">
    <tr *ngFor="let caregiver of caregiverService.caregiverList">
      <td>{{caregiver.name}}</td>
      <td>{{caregiver.gender}}</td>
      <td>
        <a class="btn" (click)="editCaregiver(caregiver)">
          <i class="fa fa-pencil-square-o"> </i>
        </a>
        <a class="btn">
          <i class="fa fa-trash-o" (click)="onDelete(caregiver.id)"> </i>
        </a>
      </td>
    </tr>
  </table>