<table class="table table-sm table-hover">
  <tr *ngFor="let patient of patientService.patientList">
    <td>{{patient.name}}</td>
    <td>{{patient.gender}}</td>
    <td>{{patient.medicalRecord}}</td>
    <td>
      <a class="btn" (click)="editPatient(patient)">
        <i class="fa fa-pencil-square-o"> </i>
      </a>
      <a class="btn">
        <i class="fa fa-trash-o" (click)="onDelete(patient.id)"> </i>
      </a>
    </td>
  </tr>
</table>