<form class="emp-form" #patientForm="ngForm" (ngSubmit)="onSubmit(patientForm)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="patientService.selectedPatient.id">
  <div class="form-group">
    <input class="form-control" name="name" #name="ngModel" [(ngModel)]="patientService.selectedPatient.name"
    placeholder="Name">
  </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input class="form-control" name="username" #username="ngModel" [(ngModel)]="patientService.selectedPatient.username"
          placeholder="Username" required>
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" name="password" #password="ngModel" [(ngModel)]="patientService.selectedPatient.password" 
        placeholder="Password" required>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="birthdate" #birthdate="ngModel" [(ngModel)]="patientService.selectedPatient.birthdate"
            placeholder="Birthdate" required>
        </div>
        <div class="form-group col-md-6">
          <input class="form-control" name="gender" #gender="ngModel" [(ngModel)]="patientService.selectedPatient.gender" 
          placeholder="Gender" required>
        </div>
      </div>
  <div class="form-group">
      <input class="form-control" name="address" #address="ngModel" [(ngModel)]="patientService.selectedPatient.address"
      placeholder="Address">
  </div>
  <div class="form-group">
      <input class="form-control" name="medicalRecord" #medicalRecord="ngModel" [(ngModel)]="patientService.selectedPatient.medicalRecord"
      placeholder="Medical Record">
  </div>
  <div class="form-row">
      <div class="form-group col-md-8">
        <button type="submit" class="btn btn-lg btn-block btn-primary"> Add patient</button>
      </div>
      <div class="form-group col-md-4">
          <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(patientForm)"> Clear</button>
      </div>
    </div>
</form>