<form class="emp-form" #caregiverForm="ngForm" (ngSubmit)="onSubmit(caregiverForm)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="caregiverService.selectedCaregiver.id">
    <div class="form-group">
      <input class="form-control" name="name" #name="ngModel" [(ngModel)]="caregiverService.selectedCaregiver.name"
      placeholder="Name">
    </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="username" #username="ngModel" [(ngModel)]="caregiverService.selectedCaregiver.username"
            placeholder="Username" required>
        </div>
        <div class="form-group col-md-6">
          <input class="form-control" name="password" #password="ngModel" [(ngModel)]="caregiverService.selectedCaregiver.password" 
          placeholder="Password" required>
        </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
            <input class="form-control" name="birthdate" #birthdate="ngModel" [(ngModel)]="caregiverService.selectedCaregiver.birthdate"
              placeholder="Birthdate" required>
          </div>
          <div class="form-group col-md-6">
            <input class="form-control" name="gender" #gender="ngModel" [(ngModel)]="caregiverService.selectedCaregiver.gender" 
            placeholder="Gender" required>
          </div>
        </div>
    <div class="form-group">
        <input class="form-control" name="address" #address="ngModel" [(ngModel)]="caregiverService.selectedCaregiver.address"
        placeholder="Address">
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
          <button type="submit" class="btn btn-lg btn-block btn-primary"> Add caregiver</button>
        </div>
        <div class="form-group col-md-4">
            <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(caregiverForm)"> Clear</button>
        </div>
      </div>
  </form>