<div style="text-align:center">
    <h2 class="jumbotron bg-secondary text-white">Login</h2>
</div>
<form class="emp-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control" name="username" #username="ngModel" [(ngModel)]="loginService.currentLogin.username" placeholder="Username">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control" name="password" #password="ngModel" [(ngModel)]="loginService.currentLogin.password" placeholder="Password">
        </div>
    </div>
    <p>Select your role:</p>
    <select [(ngModel)]="type" [ngModelOptions]="{standalone : true}">
        <option value="" disabled selected></option>
        <!-- <option *ngFor="let item of categories" [value]="item.category">{{item.category}}</option> -->
        <option ng-selected="selected" value="doctor">Doctor</option>
        <option ng-selected="selected" value="caregiver">Caregiver</option>
        <option ng-selected="selected" value="patient">Patient</option>
    </select>
    <p></p>
    <div class="form-row">
        <div class="col-md-1"></div>
        <div class="form-group col-md-4">
            <button type="submit" class="btn btn-lg btn-block btn-primary"> Login</button>
        </div>
    </div>
</form>
     