<div style="text-align:center">
    <h2 class="jumbotron bg-secondary text-white">Medications</h2>
  <div class="row">
    <div class="col-md-6">
        <app-medication></app-medication>
    </div>  
    <div class="col-md-6">
        <app-medication-list></app-medication-list>
    </div>
  </div>
</div>