<div style="text-align:center">
    <h2 class="jumbotron bg-secondary text-white">Patients</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
        <app-patient></app-patient>
    </div>
    <div class="col-md-6">
        <app-patient-list></app-patient-list>
    </div>
  </div>
