<table class="table table-sm table-hover">
    <tr *ngFor="let medication of medicationService.medicationList">
      <td>{{medication.name}}</td>
      <td>{{medication.sideEffects}}</td>
      <td>{{medication.dosage}}</td>
      <td>
        <a class="btn" (click)="editMedication(medication)">
          <i class="fa fa-pencil-square-o"> </i>
        </a>
        <a class="btn">
          <i class="fa fa-trash-o" (click)="onDelete(medication.id)"> </i>
        </a>
      </td>
    </tr>
  </table>