<div style="text-align:center">
    <h2 class="jumbotron bg-secondary text-white">Caregivers</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
        <app-caregiver></app-caregiver>
    </div>
    <div class="col-md-6">
        <app-caregiver-list></app-caregiver-list>
    </div>
  </div>
