<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../../static/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{css/bootstrap.min.css}" type="text/css"/>
<link href="../../static/css/core.css" rel="stylesheet" media="screen"
	th:href="@{css/core.css}" type="text/css"/>
<title>Online Medication Platform</title>
</head>
<style type="text/css">
	td
	{
		padding:0 15px 0 15px;
	}
	th
	{
		padding:0 15px 0 15px;
	}
</style>
<body>
	<div th:replace="common/header::navbar"></div>
	<div class="container">
		<a href="/logout" > Logout </a>
		<h2>Select an option to view more details:</h2>
		<table>
			<thead>
				<tr>
					<th> <a href="/caregivers">Caregivers</a> </th>
					<th> <a href="/patients">Patients</a> </th>
					<th> <a href="/medications">Medication</a> </th>
					<th> <a href="">Medical Plans</a> </th>
				</tr>
			</thead>
		</table>
	</div>
	<footer th:replace="~{common/footer::footer}"></footer>
</body>
</html>