<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"
          media="screen" th:href="@{css/bootstrap.min.css}" type="text/css"/>
    <link href="../../static/css/core.css" rel="stylesheet" media="screen"
          th:href="@{css/core.css}" type="text/css"/>
    <title>Online Medication Platform</title>
</head>
<style type="text/css">
    td
    {
        padding:0 15px 0 15px;
    }
    th
    {
        padding:0 15px 0 15px;
    }
</style>
<body>
<div th:replace="common/header::navbar"></div>
<div class="container">
    <a href="/logout" > Logout </a>
    <h2>All patients:</h2>
    <table>
        <thead>
            <tr th:if="${patients.isEmpty()}">
                <td colspan="2"> No Patients Available </td>
            </tr>
            <tr>
                <th>Name</th>
                <th>Birth Date</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Medical Record</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="patient : ${patients}">
                <td><span th:text="${patient.getName()}"></span></td>
                <td><span th:text="${patient.getBirthDate()}"></span></td>
                <td><span th:text="${patient.getGender()}"></span></td>
                <td><span th:text="${patient.getAddress()}"></span></td>
                <td><span th:text="${patient.getMedicalRecord()}"></span></td>
            </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{common/footer::footer}"></footer>
</body>
</html>